* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: "Montserrat", "Arial", sans-serif;
}

.container{
    margin: 0 auto;
    max-width: 1280px;
}

.navbar{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 25px 330px;
}

.nav-item a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    color: #FF0000;
    letter-spacing: 2.7px;
}

.page_image_container{
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    max-height: 789px;
}
.page_image{
}

.main_content_text{
    margin: 0 auto;
    max-width: 1280px;
    padding: 0 67.5px 0 67.5px;
}

.content-title{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #373737;
    text-align: center;
    letter-spacing: 3.3px;
    padding: 49px 0 38px 0;
}

.content-p1{
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    color: #373737;
    text-align: center;
    padding-bottom: 28px;
}

.content-p2{
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    color: #373737;
    text-align: center;
    padding-bottom: 66px;
}

form{
    text-align: center;
    padding-bottom: 42px;
}

button{
    text-transform: uppercase;
    background-color: rgba(255, 0, 0, 1);
    color: #FFFFFF;
    letter-spacing: 1.8px;
    font-size: 12px;
    line-height: 12px;
    font-weight: bold;
    border-radius: 4px;
    width: 191px;
    height: 51px;
}
.copyright-info{
    margin: 0 auto;
    max-width: 1280px;
    padding: 40px 105px 29px 713px;
    letter-spacing: 2.4px;
    color: #373737;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
}





